*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f293a;
}

/*ye poore circle aur login page ke liye hai*/
.container{
    position: relative;
    width: 356px;
    height: 356px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container span{
    /*ye un sab bars ke liye hai jo circle me ghoom rhe hai*/
    position: absolute;
    left: 0;
    width: 32px;/*span ke height ke liye*/
    height: 6px;/*span ke mote hone ke liye*/
    background: #2c4766;
    border-radius: 8px;
    transform-origin: 138px;/*kitna bda circle hoga*/
    transform: scale(3.2) rotate(calc(var(--i)*(360deg/50)));/*circle kitna bada hoga aur unke beech me space kitna hoga*/
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i)*(3s/50));
}

@keyframes animateBlink{
    0%{
        background: #0ef;
    }
    25%{
        background: #2c4766;/*kitna circle me rotate kr lega fir start karega rotate krna*/
    }
}
.login-box{
  
    position: relative;
    width: 500px;
    
}

.login-box form{
    width: 100%;
    padding: 0 50px;
}

h2{
    font-size: 4em;
    color: #0ef;
    text-align: center;
}

.input-box{
    
    position: relative;
    margin: 25px 0;

}

.input-box input{
    
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 40px;
    color: #fff;
    padding: 0 20px;
    transition: -5s ease;
}

/*ye jb input box me click kro to border blue ho ja rha hai*/
.input-box input:focus,
.input-box input:valid{
    border-color: #0ef;
}

.input-box label{
    position: absolute;
    top: 50%;/*input box ke center me rkhne ke liye*/
    left: 20px;
    transform: translateY(-50%);/*click krne pr uper chala jata hai*/
    font-size: 1em;
      color: #fff;
      pointer-events: none;
      transition: -5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: 1px;/*top se kitns door ho click krne pr*/
    font-size: .8em;
    background: #1f293a;
    padding: 0 6px;/*jb uper jata hai to border line ke beech kitna space ho*/
    color: #0ef;
}

.forgot-pass{
    margin: -15px 0 10px;
    text-align: center;
}

.forgot-pass a{
    font-size: .85em;
    color: #fff;
    text-decoration: none;
}

.forgot-pass a:hover{
    text-decoration: underline;
}


.btn{
    width: 100%;
    height: 45px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
}

.signup-link{
    margin:20px 0 10px;
    text-align: center;
}

.signup-link a{
    font-size: 1em;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}
.signup-link a:hover{
    text-decoration: underline;
}
