@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.csshttps://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.csshttps://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.csshttps://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.csshttps://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;

}
html,body {
    display: grid;
    height: 100%;
place-items: center;
 text-align: center;
background: linear-gradient(170deg, rgb(190, 208, 223) 9%, rgb(124, 132, 209) 53%, rgb(175, 217, 235) 87%);
;
}
 .container
  {
   
 width : 100%;
 background-color: ;
 padding: 20px 30px;
 border: 5px double #1b1b1b;
 border-radius: 5px;
 display: flex;
 align-items: center;
flex-direction: column;
 justify-content: center;
 }

.container .star-widget input
{
    
 display:none;
   
}
.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition :all .2s ease;

}

/* input:not( :checked ) ~  label:hover */

 input:not( :checked ) ~  label:hover ~ label {
    color: #fd4;
}
input:checked ~ label {
    color:#fd4;
}
input#rate-5:checked ~  label{
    color:#fe7;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before {
content:"A Major Disappointment😕😕";
}
#rate-2:checked ~ form header:before {
    content:  "Not Quite Up to the Hype😓😓";
    }
#rate-3:checked ~ form header:before {
        content: "A Decent Read🙂🙂";
        }
#rate-4:checked ~ form header:before {
            content:"A Solid and Engaging content😌😌";
            }
#rate-5:checked ~ form  header:before {
                content:  "A Solid and Engaging content🤩🤩";
                }
form header {
    width:100%;
    font-size: 100px;
    color:#fe7;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0 2s ease; 
} 


form .textarea{
    height:100px;
    width:100%;
    overflow:hidden;

}
form .textarea textarea{
    height:100px;
    width:300px;
    outline: none;
    color:#eee;
    border: 1px solid#333;
    background:#222;
    padding: 10px;
    font-size: 17px;
}

form .btn {
    height:100px;
    width:100px;
    margin: 15px ;
    margin-left: 40;

}
form .btn button {
    height: 50px;
    width:  100px;
    border: 1px solid rgb(172, 32, 123);
    outline: none;
    background: #222;
    box-shadow: rgb(187, 171, 102);
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-decoration: uppercase;
 cursor:pointer;
 transition : all 0.3s ease;
}
form .btn button:hover {
    background : #1b1b1b;

}